* {
  /* margin: 0;
    padding: 0; */
  box-sizing: border-box;
}

html {
  height: 100%;
  width: 100%;
}

p {
  color: rgb(33, 33, 33);
  font-size: 20px;
}

body {
  background-image: url('https://png.pngtree.com/thumb_back/fh260/background/20210923/pngtree-traditional-african-color-pattern-image_905736.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #ffffff;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}


.nav {
  height: 70px;
  background-color: #33bba2 !important;
  box-shadow: 0 3px 15px rgba(51, 49, 49, 0.4);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 20px;
  position: sticky;
  z-index: 99;
  top: 0;
  font-family: sans-serif;
  user-select: none;
}

.navbar-logo {
  display: flex;
  align-items: center;
  text-transform: uppercase;
  font-size: 20px;
  letter-spacing: 1px;
  padding-left: 18px;
}

.navbar-logo img {
  width: 60px;
  background-color: antiquewhite;
  border-radius: 10%;
  margin-top: 10px;
}

.navbar-logo span {
  text-transform: none;
  font-weight: bold;
  color: white;
  margin-left: 10px;
}

.navbar-logo a:hover {
  text-decoration: none;
}

.nav ul li {
  display: inline-block;
  padding: auto 20px;
}

.nav-menu {
  margin-bottom: 0;
  padding-left: 0;
}

.nav ul li a {
  color: white !important;
  display: block;
  padding: 0 15px;
  line-height: 70px;
  font-size: 17px;
  background-color: transparent !important;
  transition: 0.3s;
  letter-spacing: 1px;
  margin: 0;
  /* margin: 0 20px; */
}

.nav ul li a:hover {
  color: antiquewhite;
  text-decoration: underline;
  text-decoration-color: antiquewhite;
  transform: translateY(-3px);
}

.dropdown:hover>a {
  color: antiquewhite;
  text-decoration: underline;
  text-decoration-color: antiquewhite;
}

.nav ul ul {
  position: absolute !important;
  top: 85px;
  border-top: 3.5px solid #33bba2;
  background-color: none;
  opacity: 0;
  visibility: hidden;
  padding-left: 0;
}

.nav ul li:hover>ul {
  top: 70px;
  opacity: 1;
  visibility: visible;
  transition: 0.3s linear;
  list-style: none;
}

.nav ul ul li {
  width: 310px;
  display: list-item;
  position: relative;
  border: 1px solid #8ad0ff;
  border-top: none;
}

a.dropdown-item {
  margin: 0 !important;
}

/* ul.dropdown-menu.show{
    margin: 0;
    padding: 0;
  } */
.nav ul ul li a {
  line-height: 25px;
  padding: 10px 15px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.25);
}

/* Google Translate */
#google_translate_element select {
  /* background-color: #2980b9 !important; */

  background-color: #f6edfd;
  color: black;
  border: none;
  border-radius: 3px;
  padding: 6px 8px;
  cursor: pointer;
}

/* Navbar Ends */
