* {
  /* margin: 0;
    padding: 0; */
  box-sizing: border-box;
}

html {
  height: 100%;
  width: 100%;
}

p {
  color: rgb(33, 33, 33);
  font-size: 20px;
}

body {
  background-image: url('https://png.pngtree.com/thumb_back/fh260/background/20210923/pngtree-traditional-african-color-pattern-image_905736.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #33bba2;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

/* Navbar Start */

.nav {
  height: 70px;
  background-color: #33bba2 !important;
  box-shadow: 0 3px 15px rgba(51, 49, 49, 0.4);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 20px;
  position: sticky;
  z-index: 99;
  top: 0;
  font-family: sans-serif;
  user-select: none;
}

.navbar-logo {
  display: flex;
  align-items: center;
  text-transform: uppercase;
  font-size: 20px;
  letter-spacing: 1px;
  padding-left: 18px;
}

.navbar-logo img {
  width: 60px;
  background-color: antiquewhite;
  border-radius: 10%;
  margin-top: 10px;
}

.navbar-logo span {
  text-transform: none;
  font-weight: bold;
  color: white;
  margin-left: 10px;
}

.navbar-logo a:hover {
  text-decoration: none;
}

.nav ul li {
  display: inline-block;
  padding: auto 20px;
}

.nav-menu {
  position: fixed;
  top: 0;
  right: 0;
  padding: 10px;
  transform-origin: top right;
  transform: scale(1);
}

.nav ul li a {
  color: white !important;
  display: block;
  padding: 0 15px;
  line-height: 70px;
  font-size: 17px;
  background-color: transparent !important;
  transition: 0.3s;
  letter-spacing: 1px;
  margin: 0;
  /* margin: 0 20px; */
}

.nav ul li a:hover {
  color: antiquewhite;
  text-decoration: underline;
  text-decoration-color: antiquewhite;
  transform: translateY(-3px);
}

.dropdown:hover>a {
  color: antiquewhite;
  text-decoration: underline;
  text-decoration-color: antiquewhite;
}

.nav ul ul {
  position: absolute !important;
  top: 85px;
  border-top: 3.5px solid #33bba2;
  background-color: none;
  opacity: 0;
  visibility: hidden;
  padding-left: 0;
}

.nav ul li:hover>ul {
  top: 70px;
  opacity: 1;
  visibility: visible;
  transition: 0.3s linear;
  list-style: none;
}

.nav ul ul li {
  width: 310px;
  display: list-item;
  position: relative;
  border: 1px solid #8ad0ff;
  border-top: none;
}

a.dropdown-item {
  margin: 0 !important;
}

/* ul.dropdown-menu.show{
    margin: 0;
    padding: 0;
  } */
.nav ul ul li a {
  line-height: 25px;
  padding: 10px 15px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.25);
}

/* Google Translate */
#google_translate_element select {
  /* background-color: #2980b9 !important; */

  background-color: #f6edfd;
  color: black;
  border: none;
  border-radius: 3px;
  padding: 6px 8px;
  cursor: pointer;
}

/* Navbar Ends */

.header {
  background-color: #33bba2;
  color: #fff;
  text-align: center;
  padding: 50px;
}

.header h1 {
  font-size: 50px;
  margin: 0;
}

.header p {
  font-size: 24px;
  margin: 0;
  padding-top: 10px;
}

.content {
  margin: 50px;
  text-align: justify;
  font-size: 20px;
  line-height: 1.5;
  color: #33bba2;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.content img {
  background-color: antiquewhite;
  margin-right: 20px;
}

.text-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 40px 20px;
  text-align: center;
  background-color: #33bba2;
  border-radius: 10px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  position: relative;
  margin-top: 3.5rem;
  transition: all 0.55s ease;
}

.text-container:hover {
  transform: translateY(-8px);
}

.title {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 20px;
  color: #363636;
}

.description {
  font-size: 18px;
  line-height: 1.5;
  color: #ffffff;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

h3 {
  color: white;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-top: 40px;
  background-image: url('https://png.pngtree.com/thumb_back/fh260/background/20210923/pngtree-traditional-african-color-pattern-image_905736.png');
}

.card {
  margin: 5px;
  background-image: url('https://www.ranchiwomenscollege.org/wpimages/wp08feb7ab_05_06.jpg');

}

.card:hover {
  transform: translateY(-8px);
}

.card img {
  width: 100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.card h3 {
  font-size: 24px;
  margin-top: 10px;
  color: #000000;
}


.card p {
  font-size: 16px;
  margin: 10px;
  text-align: left;
}

.card button {
  background-color: #33bba2;
  color: #2980b9;
  border: none;
  padding: 10px 20px;
  margin-bottom: 10px;
  border-radius: 10px;
  cursor: pointer;
  color: white;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.card button:hover {
  background-color: #80cdbf;
  color: white;
  transform: translateY(-2px);
}

.btn-shift {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 5%;
}


@media only screen and (max-width: 768px) {
  .circle {
    width: 80px;
    height: 80px;
    margin: 0 5px;
  }
}

footer .logo {
  background-color: #000000;
  border-radius: 50%;
}

footer {
  background-color: #33bba2;
  color: #fff;
  padding: 20px 0;
  font-size: 14px;
}

footer .logo-title {
  display: flex;
  justify-content: center;
  align-items: center;
}

footer .quick-links ul {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-size: 18px;
  margin-top: 15px;
}

footer ul li {
  margin-top: 5px;
}

footer ul li a {
  color: #fff;
  text-decoration: none;
}

footer .quick-links ul li a:hover {
  text-decoration: none;
  padding: 5px;
  background-color: #b1bce0;
  color: #666;
}

@media only screen and (max-width: 768px) {
  .circle {
    width: 80px;
    height: 80px;
    margin: 0 5px;
  }
}

#header {
  margin-top: 10px;
}

#title-Tag-Line {
  font-size: 20px;
}

/* .card-item__bg{
    width: 150px;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    display: block;
    position: relative;
    margin: 30px auto;
    transform: translate(0px, 50px);
    z-index: 5;
  } */

/* Style inputs with type="text", select elements and textareas */
input[type=text],
select,
textarea {
  width: 100%;
  /* Full width */
  padding: 12px;
  /* Some padding */
  border: 1px solid #ccc;
  /* Gray border */
  border-radius: 4px;
  /* Rounded borders */
  box-sizing: border-box;
  /* Make sure that padding and width stays in place */
  margin-top: 6px;
  /* Add a top margin */
  margin-bottom: 16px;
  /* Bottom margin */
  resize: vertical
    /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
  background-color: #04AA6D;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

tim {
  height: 200;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
  background-color: #45a049;
}

/* Add a background color and some padding around the form */
.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

.card {
  width: 300px;
  height: 750px;
  border: 1px solid #ccc;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

img {
  width: 200px;
  height: auto;
  margin-bottom: 10px;
}

.details {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10px;
}

h3 {
  margin: 0;
}

.connect-button {
  padding: 8px 16px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}